#header h1 {
	text-align: center;
}

#intro h3{
	text-align: center;
}

#regions_div {
	margin-left: 10%;
	width: 80%;
	height: 80%;
	border: solid;
}

@media only screen and (max-width:  800px) {
    #regions_div {
    	width: 60%; height: 60%;
    	border-style:solid;
    	border-width: 3px;
    }   
}